/*******************************************************************************
creation: 2014-08-29 19:21 +0000
  update: 2015-01-09 20:11 +0000

30,70,110  = #1E466E
60,100,140 = #3C648C
90,130,170 = #5A82AA

Twitch Purple         #6441A5
Twitch Light Purple   #B9A3E3
Twitch Dark Grey      #262626
Twitch Light Grey     #F1F1F1
*******************************************************************************/
#chat_box .nick {
   text-transform:capitalize;
}

#chat_box .tag {
   display:inline-block;
   background-position:0 center;
   background-repeat:no-repeat;
   display:inline-block;
   vertical-align:middle;
   padding:0;
   border-radius:0.2vh;
   overflow: hidden;
   max-width:1.5vh;
   height:1.5vh;
   background-size:auto 1.5vh;
   margin-right:0.25vh;
}

#chat_box .turbo {
   background-color: #6441a5;
}

#chat_box .moderator {
   background-color: #009900;
}

#chat_box .broadcaster {
   background-color: #000000;
}

#chat_box .staff {
   background-color: #6441a5;
}

#chat_box .admin {
   background-color: #FF0000;
}

#chat_box .chat_line {
   margin:0;
   padding:0.25vh;
}

#chat_box .chat_line .message {
   word-wrap:break-word;
   text-align:justify;
   display:block;
}

#chat_box .chat_line.zebraEven {
   background-color:rgba(0,0,0,0.1);
}

#chat_box .time  {
   color:#888;
}

#chat_box .emoticon  {
   height:1.5vh;
   min-width:1.5vh;
}

#chat_box .header  {
   text-align:right;
}